{% set categoryList = newOrder.categoryList %}

<div class="container">
    <div class="row margin-top-75">
        <div class="col-sm-5 offset-lg-2 text-left">
            <form data-request="onCreateOrder">

                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="category">
                        {% for category in categoryList %}
                        <option value="{{ category.label }}">{{ category.label }} {% if category.price %}
                            (${{category.price}}) {% else %} (variable price) {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" type="text" name="description" id="addComment"
                              rows="5"></textarea>
                </div>

                <div class="form-group">
                    <input class="form-check form-check-inline" type="checkbox" name="is_rush">
                    <label class="form-check-label">Rush Job</label>
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                          title="Check this if your work is urgent. Additional costs may apply."><i
                            class="fa fa-info-circle"
                            aria-hidden="true"></i></span>
                    <span>+ {{ getRushPercentage() }}%</span>
                </div>

                <div class="form-group">
                    <label>Language</label>
                    <select class="form-control" name="language">
                        <option value="english" selected>english</option>
                        <option value="arabic">arabic</option>
                    </select>
                </div>

                <button ata-attach-loading class="btn btn-primary" type="submit">Create</button>

                {% for error in errors.all() %}
                <div class="alert alert-danger mt-3">
                    {{ error }}
                </div>
                {% endfor %}

                {% flash success %}
                <div class="alert alert-success mt-3">
                    <div>{{ message }}</div>
                    <div>You can check your Order progress <a href="/my-orders">here</a>.</div>
                </div>
                {% endflash %}
            </form>
        </div>
    </div>
</div>