{% set order = orderDetails.order %}

<div class="container">
    <div class="row margin-top-75">
        <div class="col-12 text-center">
            <div class="card" style="width: 18rem;">
<!--                <img class="card-img-top" src="..." alt="Card image cap">-->
                <div class="card-body">
                    <h5 class="card-title">{{ order.category }}</h5>
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: #{{ order.id }}</li>
                    <li class="list-group-item"><strong>Status: </strong>{{ order.status }}</li>
                    <li class="list-group-item"><strong>Description: </strong>{{ order.description }}</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            {% if (order.status.label == 'picked') or (order.status.label == 'rejected') %}
            <form data-request="{{ __SELF__ }}::onDone">
                <button type="submit">Done</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>