title = "Order"
url = "/order"
layout = "default"
description = "Order page"
is_hidden = 0

[newOrder]

[RainLab\User\Components\Account account]
redirect = "order"
paramCode = "code"
forceSecure = 0

[sociallogin]
==
{% if not user %}

{% partial 'account::login' %}

{% else %}

{% if inGroup('admin') or inGroup('author') %}
<div>You are an admin or an author! you cannot place orders!</div>

<!-- if not admin or author then we assume it is a customer by default -->
{% else %}
{% partial 'letterwriting/new_order' user_id=user.id %}

{% endif %}


{% endif %}