title = "Order Detail"
url = "/my-orders/:id"
layout = "default"
description = "Single order detail page"
is_hidden = 0

[orderDetails]
user_id = 0
role = "customer"
order_id = "{{ :id }}"

[authorAssignment]
admin_id = 0
order_id = "{{ :id }}"

[commentList]
user_id = 0
order_id = "{{ :id }}"
==
{% set user_id = user.id %}

{% if not user %}

{% partial 'account::login' %}

{% else %}
{% partial 'letterwriting/order_details' user_id=user_id %}
{% partial 'letterwriting/comment_list' user_id=user_id %}

{% if inGroup('admin') %}
{% partial 'letterwriting/author_assignment' admin_id=user_id %}

{% endif %}

{% endif %}