title = "Profile"
url = "/profile"
layout = "default"
description = "User login and profile page"
is_hidden = 0

[sociallogin]

[RainLab\User\Components\Account account]
redirect = "profile"
paramCode = "code"
forceSecure = 0
==
{% if not user %}

{% partial 'account::login' %}

{% else %}
<div class="row update-form">
    <div class="col-12">
        {% partial 'account::update' %}
    </div>
    <div class="col-12">
        <hr>
        <h3>Here we will add special functionalities based on user group, e.g writer, customer, admin etc...</h3>
        <hr>
        {% if inGroup('writers') %}
        I am a writer and i can take orders!
        {% endif %}
        <!--        <p>This will show only if the user belongs to a Rainlab.User Usergroup that has the code "my_admins".</p>-->
        <!--        {% for group in ueuser.groups() %}-->
        <!--            <h5>Current logged in user, group details:</h5>-->
        <!--            <span><strong>Role: </strong></span>{{group.name}}<br>-->
        <!--            <span><strong>Role description: </strong></span>{{group.description}}-->
        <!--        {% endfor %}-->
    </div>
</div>
{% endif %}