.fixed-bottom {
  position: fixed;
  margin: auto;
  height: 60px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;

  .credit {
    color: white;
    margin: 18px;
  }
}

@media (max-height: 630px) {
  .fixed-bottom {
    height: 40px;
    .credit {
      margin: 8px;
    }
  }
}