.avatar {
  margin: 20px auto;
}

#logout-btn {
  float: right;
}

#submitButton {
  float: left;
}

.avatar-photo {
  height: 25%;
  width: 25%;
}

.profile-update-error {
  margin-top: 50px;
  margin-bottom: 0;
}
@include media-breakpoint-up(lg) {
  .avatar-photo {
    height: 20%;
    width: 20%;
  }
}

@include media-breakpoint-down(md) {
  .avatar-photo {
    height: 30%;
    width: 30%;
  }

  .avatar-form-control {
    margin-bottom: 10px;
  }
}

@include media-breakpoint-up(md) {
  #changeAvatar {
    float: right;
    margin-bottom: 10px;
  }

  .avatar-form-control {
    float: left;
    margin: 0;
  }

  .profile-photo-divider {
    clear: both;
  }
}