.margin-top-50 {
  margin-top: 50px;
}

.margin-top-75 {
  margin-top: 75px;
}

.align-xy-center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.or {
  font-size: 2rem;
}